extends layout.pug

block variables
    - var userName = 'judy'
block content
  style.
    .table {
      table-layout: fixed;
    }
    td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .list-title {
        font-size: 2rem;
        font-weight: 500;
      }
    .img-circle {
      border-radius: 30%;
    }
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.justify-content-center.align-items-center
          .col-10
            .card
              .card-header.text-center
                .row.align-items-center
                  .col-10
                    h3.card-title.list-title Apps
                  .card-tools.col-2
                    a.btn.btn-outline-secondary(href=`/management/create/app`) Create
              // /.card-header
              .card-body.p-2
                table.table.table-striped.projects
                  thead
                    tr
                      th(style='width: 15%') App Name
                      th(style='width: 15%') Description
                      th(style='width: 20%') Email
                      th.text-center(style='width: 10%') Icon
                      th.text-center(style='width: 10%') Channels
                      th.text-center(style='width: 20%') Action
                  tbody
                    each app in apps
                      tr
                        td=app.name
                        td=app.description
                        td=app.contact_email
                        td.text-center
                          img.img-fluid.img-circle.elevation-2(style='width: 80%' src=app.default_icon)
                        td.text-center 2
                        td.project-actions.text-center
                          div.id(style='display:none')=app.id 
                          a.btn.btn-primary.btn-sm(href=`/management/channels?app_id=${app.id}`)
                            i.fas.fa-folder  
                            |                               View
                          a.btn.btn-danger.btn-sm.btn-archive(type='button' data-toggle='modal' data-target='#archiveApp')
                            i.fa-solid.fa-box-archive
                            |                               Archive
    #archiveApp.modal.fade(tabindex='-1' role='dialog' aria-labelledby='archiveAppLabel' aria-hidden='true')
      .modal-dialog
        .modal-content.bg
          .modal-header
            h4.modal-title Archive
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            p Do You Really Want to Archive this App?
          .modal-footer
            button.btn.btn-info(type='button' data-dismiss='modal') Close
            button.btn.btn-danger#archive(type='button') Archive
  
  script(src='/assets/js/apps.js')

