extends layout.pug

block variables
    - var userName = user.name
block content
  // daterange picker
  link(rel='stylesheet' href='/vendor/plugins/daterangepicker/daterangepicker.css')
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0 Dashboard
          // Main content
          section.content
            .container-fluid
              // Small boxes (Stat box)
              .row
                .col-lg-3.col-6
                  // small box
                  .small-box.bg-info
                    .inner
                      h3=dashboardData.subscribers
                      p TOTAL SUBSCRIBERS
                    .icon
                      i.fas.fa-user-plus
                // ./col
                .col-lg-3.col-6
                  // small box
                  .small-box.bg-success
                    .inner
                      h3=dashboardData.subscribers
                      p MAX ONLINE USERS
                    .icon
                      i.fas.fa-users
                // ./col
                .col-lg-3.col-6
                  // small box
                  .small-box.bg-warning
                    .inner
                      h3=dashboardData.notificationSent
                      p NOTIFICATION SENT
                    .icon
                      i.fas.fa-paper-plane
                // ./col
                .col-lg-3.col-6
                  // small box
                  .small-box.bg-danger
                    .inner
                      h3=dashboardData.deleveredRate
                        sup(style='font-size: 20px') %
                      p DELEVERED RATE
                    .icon
                      i.fas.fa-thumbs-up
                // ./col
                // /.row
                // Main row
                .row.col-12 
                  .col-lg-8.connectedSortable
                    // LINE CHART
                    .card
                      .card-header
                        h3.card-title New Users
                        .card-tools
                          #reportrange.d-flex.align-items-center(style='background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%')
                            i.fa.fa-calendar.float-left
                            span.px-2
                            i.fa.fa-caret-down.float-right
                      .card-body
                        .chart
                          canvas#userChart(style='min-height: 300px; height: 300px; max-height: 300px; max-width: 100%')
                      // /.card-body
                      .card-footer
                        .row
                          .col-sm-4.border-right
                            .description-block
                              h5.description-header=dashboardData.newClients
                              span.description-text Lastly 1 Week Subscribers
                          .col-sm-4.border-right
                            .description-block
                              h5.description-header=dashboardData.activatedClients
                              span.description-text Activated Users 
                          .col-sm-4
                            .description-block
                              h5.description-header=dashboardData.apps
                              span.description-text Numbers of APPs
  script(src='/vendor/plugins/chart.js/Chart.min.js')
  script(src='/vendor/plugins/moment/moment.min.js')
  script(src='/vendor/plugins/select2/js/select2.full.min.js')
  script(src='/vendor/plugins/daterangepicker/daterangepicker.js')
  script(src='/assets/js/dashboard.js')

