extends layout.pug

block variables
    - var userName = user.name
block content
  link(rel='stylesheet' href='/vendor/plugins/daterangepicker/daterangepicker.css')
  link(rel='stylesheet' href='/vendor/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet' href='/vendor/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')
  link(rel='stylesheet' href='/vendor/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
          .col-sm-6
            h1.m-0 Reports
          // Main content
    section.content
      .container-fluid
        .card.shadow-sm
          .card-header(style='border-bottom: none')
            .container-fluid
              .row.mb-1
                from.form-inline
                  .form-group.mx-2
                    label.mr-2 APP
                    select.form-control#app-select.p-0(style="width:auto;" name='app')
                      each app, index in apps
                        if index === 0
                          option(data-id=app.id selected="selected")=app.name
                        else
                          option(data-id=app.id)=app.name
                  .form-group.mx-2
                    label.mr-2 Time
                    .form-control#reportrange.d-flex.align-items-center(style='background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc')
                      i.fa.fa-calendar.float-left
                      span.m-1
                      i.fa.fa-caret-down.float-right
                  .btn#reload-data.btn.btn-default(type="button")='Explore'
              // /.card-header
          .card-body
            .container-fluid
              .row.justify-content-center.align-items-center
                .col-12
                  .table-responsive
                    table#report-table.table.table-compact.dt-responsive.nowrap(cellspacing="0")
                      thead
                        tr
                          th Channel
                          th Name
                          th Status
                          th Delivered Time
                          th Type
                          th Create Time
  script(src='/vendor/plugins/moment/moment.min.js')
  script(src='/vendor/plugins/select2/js/select2.full.min.js')
  script(src='/vendor/plugins/daterangepicker/daterangepicker.js')
  script(src='/vendor/plugins/datatables/jquery.dataTables.min.js')
  script(src='/vendor/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')
  script(src='/vendor/plugins/datatables-responsive/js/dataTables.responsive.min.js')
  script(src='/vendor/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')
  script(src='/vendor/plugins/datatables-buttons/js/dataTables.buttons.min.js')
  script(src='/vendor/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')
  script(src='/vendor/plugins/datatables-buttons/js/buttons.colVis.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
  script.
      $(document).ready(function() {

        $('.nav-sidebar a').removeClass('active')
        $('#reporting-nav').addClass('active')
        let start = moment().subtract(1, 'months');
        let end = moment();
        let app_id = $('#app-select').children(":selected").attr("data-id");
        console.log(app_id)

        $("#reportrange").daterangepicker(
          {
            startDate: start,
            endDate: end,
            maxDate: end,
            ranges: {
              Today: [moment(), moment()],
              Yesterday: [moment().subtract(1, "days"), moment().subtract(1, "days")],
              "Last 7 Days": [moment().subtract(6, "days"), moment()],
              "Last 30 Days": [moment().subtract(29, "days"), moment()],
              "This Month": [moment().startOf("month"), moment().endOf("month")],
              "This Year": [moment().subtract(1, "year").startOf("year"),  moment().endOf("year")],
            },
            
          },
          cb
        );
        function cb(start, end) {
          $("#reportrange span").html(start.format("YYYY/MM/DD") + " - " + end.format("YYYY/MM/DD"));
        }
        cb(start, end)

        let table = $('#report-table').DataTable({
           "responsive": true,
            "processing": true,
            "language": {
              processing:'<img src="/assets/img/loading.gif" alt="Processing"/>',
              emptyTable: "No data available. Create a notification now."
            },
            "serverSide": false,
            "rowId": 'id',
            "ajax":  {
                url: `/management/notifications?app_id=${app_id}&start_date=${start}&end_date=${end}`,
                type: "GET",
                dataType: 'json',
                complete: function (data) {
                        console.log(data);
                    },
                error: function(error){
                  console.log(error)
                    alert(error);
                    }
            },
            "columns": [
              {data: 'channel'},
              {data: 'name'},
              {data: 'status', 
                render: function (data, type, row, meta) {
                  let status;
                  switch (data) {
                    case 3:
                      status = "Finished";
                      break;
                    case 2:
                      status = "Delivering";
                      break;
                    case 1:
                    case 0:
                      status = "Waiting"
                      break;
                    default:
                      status = data 
                  }
                  return status
                }
                },
                {data: null,
                render: function (data, type, full) {
                  let date = '';
                  if (full.scheduled_dt) {
                    date = full.scheduled_dt
                  } else {
                    date = full.created_dt
                  }
                  return moment(data).format("YYYY-MM-DD HH:mm")}
                },
                {data: 'type'},
                {data: 'created_dt',
                render: function (data, type, row, meta) {
                    return moment(data).format("YYYY-MM-DD HH:mm")}
                }]
          });

          $('#reload-data').click(() => {
            let dates = $("#reportrange span").text();
            [star, end] = dates.split(" - ");
            start = (new Date(start));
            end = (new Date(end));
            app_id = $('#app-select').children(":selected").attr("data-id");
            table.ajax.url( `/api/1.0/notifications?app_id=${app_id}&start_date=${start}&end_date=${end}` ).load();
          })

          $('#report-table').on( 'click', 'tr', function () {
            if ( table.rows().count() === 0) {
              return;
            }
            let id = table.row( this ).id();
            window.location.href = `/management/reports/notifications?id=${id}`;
         });
      })


